.shopping_bag_wrap h1 {
    font-size: var(--font-xl);
    padding: 0 0 2.5rem;
    letter-spacing: -0.1rem;
}

.no_shopping_bag {
    padding: 5rem 0;
    text-align: center;
    font-size: var(--font-base);
    border-top: 1px solid rgb(73, 73, 73);
    border-bottom: 1px solid rgb(73, 73, 73);
}

.content {
    width: 100%;
    background-color: var(--bg-base);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10rem;
}

.content_wrap {
    width: 80%;
    padding-top: 2.5rem;
    min-height: 60vh;
}

.quantity_input {
    -moz-appearance: textfield;
    border: 0;
    width: 6rem;
    padding: 1rem 0 1rem 0;
    font-size: var(--font-base);
    text-align: center;
    background-color: var(--bg-base);
}

.quantity_input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.remove_button {
    width: 2rem;
    height: 2rem;
}


/* 레이아웃 */
.item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.item .check_wrap {
    display: flex;
    align-items: center;
    padding-right: 2rem;
}

.item .info_wrap {
    width: 100%;
    display: flex;
    align-items: center;
}

.item .item_info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

.item_info .item_image {
    min-width: 8rem;
    width: 8rem;
    height: 8rem;
}

.item_image img {
    width: 8rem;
    height: 8rem;
}

.item_info .item_text {
    width: 100%;
    margin-left: 1rem;
}

.item .order_info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 25rem;
    justify-content: space-between;
}

.item_price {
    margin-left: 2rem;
}

.item .remove_wrap {
    display: flex;
    align-items: baseline;
    padding-left: 2rem;
}

#summary {
    font-size: var(--font-lg);
    font-weight: bold;
    padding: 2rem;
    background-color: white;
    display: flex;
    justify-content: end;
}

#summary_inner {
    width: 30rem;
}


.summary_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


#purchase_button {
    width: 100%;
    font-size: var(--font-lg);
    padding: 2rem;
}

@media (min-width: 768.1px) {
    .content_wrap {
        min-width: 90rem;
    }

    .item .info_wrap {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}
@media (max-width: 768px)  {
    .item .info_wrap {
        flex-wrap: wrap;
        justify-content: right;
    }

    #summary_inner {
        width: 100%;
    }
}