@media (min-width: 768.1px) {
    /* 가로 768px 초과시 1rem == 10px  */
html { font-size: 62.5%; }
}
@media (max-width: 768px)  {
/* 가로 768px 이하 1rem == 8.75px  */
html { font-size: 54.6875%; }
body{ padding-top: 7rem; }
}

html{
    /* 배경색 */
    --bg-color-1: #FDFAF6;
    --bg-color-2: rgb(247,244,244);
    --bg-color-3: #DAD0C2;
    --bg-color-4: #CDBBA7;
    --bg-color-5: #ffffff;

    /* 글자색 */
    --txt-color-1: black;
    --txt-color-2: rgb(59, 59, 59);
    --txt-color-3: grey;
    --txt-color-4: lightgrey;
    --txt-color-5: white;
    --txt-color-warn: rgb(215, 68, 68);

    /* 폰트 사이즈 */
    --font-xs: 1.2rem;
    --font-sm: 1.4rem;
    --font-base: 1.6rem;
    --font-lg: 1.8rem;
    --font-xl: 2rem;
}

*{margin: 0;
padding: 0;
}

#wrap{
    margin: auto;
    width: 100%;
}











.content{
    width: 100%;
    min-height: 100rem;
    background-color: rgb(247, 244, 244);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10rem;
}
 
.slideimg{
    margin-top: 5rem;
    width: 80%;
    height: 65rem;
    border: .1rem solid black;
}

.best{
    margin-top: 5rem;
    width: 80%;
    min-height: 75rem;
    border: .1rem solid black;
    text-align: center;
}

.best h1{
    font-size: 2.5rem;
}

.best table{
    width: 100%;
    font-size: 3rem;
} 

.td_img{
    height: 34rem;
}

.td_name{
    height: 8rem;
}

.mobile_td{
    display: none;
}


@media screen and (max-width:768px) {
    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 10rem;
    }
     
    .slideimg{
        margin-top: 5rem;
        width: 80%;
        height: 30rem;
        border: .1rem solid black;
    }   
    
    .best table{
        font-size: 2rem;
    } 

    .web_td{
        display: none;
    }

    .mobile_td{
        display: table;
    }

    .td_img {
        height: 30rem;
    }

    .td_name{
        height: 7rem;
    }
}











.content{
    width: 100%;
    min-height: 100rem;
    background-color: rgb(247, 244, 244);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10rem;
}

.event_banner{
    margin-top: 5rem;
    width: 80%;
    height: 65rem;
    border: .1rem solid black;
}

.best{
    margin-top: 5rem;
    width: 80%;
    min-height: 75rem;
    border: .1rem solid black;
    text-align: center;
}

.best h1{
    font-size: 2.5rem;
}

.best table{
    width: 100%;
    font-size: 3rem;
}

.best_product_img{
    height: 34rem;
}

.best_product_name{
    height: 8rem;
}

.mobile_best_product_table{
    display: none;
}


@media (max-width:768px) {
    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 10rem;
    }

    .slideimg{
        margin-top: 5rem;
        width: 80%;
        height: 30rem;
        border: .1rem solid black;
    }

    .best table{
        font-size: 2rem;
    }

    .best_product_table{
        display: none;
    }

    .mobile_best_product_table{
        display: table;
    }

    .best_product_img {
        height: 30rem;
    }

    .best_product_name{
        height: 7rem;
    }
}