@media (min-width: 768.1px) {
    /* 가로 768px 초과시 1rem == 10px  */
html { font-size: 62.5%; }
}
@media (max-width: 768px)  {
/* 가로 768px 이하 1rem == 8.75px  */
html { font-size: 54.6875%; }
/*body{ padding-top: 7rem; }*/
}

html{
    /* 배경색 */
    --bg-base: rgb(250,247,244);
    --bg-point: rgb(248,248,250);
    --bg-grey: rgb(223, 219, 219);
    --bg-color-payment: rgb(211,84,96);
    --bg-color-cart: black;

    /* 글자색 */
    --txt-color-1: black;
    --txt-color-2: rgb(59, 59, 59);
    --txt-color-3: grey;
    --txt-color-4: lightgrey;
    --txt-color-5: white;
    --txt-color-warn: rgb(215, 68, 68);

    /* 폰트 사이즈 */
    --font-xs: 1.2rem;
    --font-sm: 1.4rem;
    --font-base: 1.6rem;
    --font-lg: 1.8rem;
    --font-xl: 2rem;
    --font-2xl: 2.5rem;
    --font-3xl: 3rem;

    /* 예비 */
    --bg-color-base: #F0E5DB;
    --bg-color-base-hover: #E7D9CD;

    --txt-color-base: #9f877e;
    --txt-color-base-hover: #564c4c;

    --txt-color-data: #000000;
    --txt-color-warn: #8B0000;

    --border-darker: #BFB7B0;
    --border-base: #dadada;
    --border-bright: #e5e5e5;
}

body {
    font-size: var(--font-base);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{margin: 0;
padding: 0;
}

#wrap{
    margin: auto;
    width: 100%;
}

/* 기본 요소 디자인 */
select {
    padding: 0.5rem 3rem 0.5rem 1rem;
    font-family: inherit;
    font-size: var(--font-sm);
    background: url(../../img/manage/component/combo.svg) no-repeat 100% 50%;
    background-size: contain;
    border: 0.1rem solid var(--border-base);
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    /*height: 2.9rem;*/
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: var(--font-sm);
    /*color: var(--txt-color-base-hover);*/
    /*background-color: var(--bg-color-base-hover);*/
    border: 0.1rem solid var(--border-base);
    border-radius: 0.3rem;
}

button:hover {
    color: var(--txt-color-base-hover);
    background-color: var(--bg-color-base-hover);
    border: 0.1rem solid var(--border-base);
}

