@media (min-width: 768.1px) {
    html { font-size: 62.5%; }
}

@media (max-width: 768px)  {
    html { font-size: 54.6875%; }
}

html {
    --bg-color-base: #F0E5DB;
    --bg-color-base-hover: #E7D9CD;

    /*#e7d9cd*/
    /*AD978E*/

    --txt-color-base: #9f877e;
    --txt-color-base-hover: #564c4c;

    --txt-color-data: #000000;
    --txt-color-warn: #8B0000;

    --border-darker: #BFB7B0;
    --border-base: #dadada;
    --border-bright: #e5e5e5;


    --bg-color-1: #F2CAC9;
    --bg-color-2: #ef9a9a;
    --bg-color-3: #ffcccb;
    --bg-color-4: #ad7f7f;

    --font-xs: 1.2rem;
    --font-sm: 1.4rem;
    --font-base: 1.6rem;
    --font-lg: 1.8rem;
    --font-xl: 2rem;
    --font-2xl: 2.5rem;
    --font-3xl: 3rem;

    min-width: 375px;
    touch-action: pan-y;
}

a { color: var(--txt-color-1); }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a:visited { text-decoration: none; }

body {
    padding: 0;
    margin: 0;
    font-size: var(--font-base) inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrap{
    display: flex;
}

#sidebar {
    max-width: 20rem;
    width: fit-content;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;

    background-color: var(--bg-color-base);
    height: 100vh;
}

#main {
    display: block;
    width: 100%;
    text-align: center;
    overflow-x: auto;
    height: 100vh;
    overflow-y: scroll;
}

/* 기본 요소 디자인 */
select {
    padding: 0.5rem 3rem 0.5rem 1rem;
    font-family: inherit;
    font-size: var(--font-sm);
    background: url(../../img/manage/component/combo.svg) no-repeat 100% 50%;
    background-size: contain;
    border: 0.1rem solid var(--border-base);
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    /*height: 2.9rem;*/
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: var(--font-sm);
    /*color: var(--txt-color-base-hover);*/
    /*background-color: var(--bg-color-base-hover);*/
    border: 0.1rem solid var(--border-base);
    border-radius: 0.3rem;
}

button:hover {
    color: var(--txt-color-base-hover);
    background-color: var(--bg-color-base-hover);
    border: 0.1rem solid var(--border-base);
}

input {
    padding: 1rem;
    border: 0;
    border-bottom: solid 0.1rem var(--border-base);
}

input:focus{
    background: var(--bg-color-base);
    outline: none;
}

/* 페이지 링크 */
#link {
    margin-top: 2rem;
    font-size: var(--font-lg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#link #now_page {
    font-size: var(--font-lg);
    font-weight: bold;
    color: var(--txt-color-base);
}