#title {
    text-align: left;
    font-size: var(--font-2xl);
}

#actions {
    text-align: right;
}

#content {
    font-size: var(--font-sm);
    text-align: center;
}

#content table {
    width: 100%;
    border-collapse: collapse;
    border-top: 0.2rem solid var(--txt-color-data);
    border-bottom: 0.2rem solid var(--txt-color-data);
}

#content th, td {
    white-space:nowrap;
    border-top: 0.1rem solid var(--txt-color-data);
    border-bottom: 0.1rem solid var(--txt-color-data);
    margin: 0;
    padding: 0.8rem 2rem 0.8rem 2rem;
    text-align: center;
}

#table_wrap {
    display: inline-block;
    max-width: 130rem;
    min-width: 100rem;
    width: 100%;
}
#table_wrap * {
    margin-top: 1rem;
}